.News .News-title {
    display: flex;
    padding-left: 20px;

}
.News .icon{
    background: url('../../images/newsIcon.png');
    height: 35px;
    width: 35px;
    border-radius: 14px;
    background-color: #2a282a;
    background-size: cover;
}
.News .Topics-news{
    padding-top: 5px;
    padding-left: 5px;
}
